USE [travel_management1]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Account] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminImage]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminImage](
	[AccountA] [varchar](50) NOT NULL,
	[Img_Avatar] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AccountA] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogDetails]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogDetails](
	[BlogDetailId] [nchar](10) NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[News] [text] NOT NULL,
	[BlogId] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogId] [nchar](10) NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[AccountM] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[AccountC] [varchar](50) NOT NULL,
	[HomeStayId] [nchar](10) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[BookingTime] [int] NOT NULL,
	[VisitorNumber] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountC] ASC,
	[HomeStayId] ASC,
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingHistories]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingHistories](
	[AccountC] [varchar](50) NOT NULL,
	[HomeStayId] [nchar](10) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[BookingTime] [int] NOT NULL,
	[VisitorNumber] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Star] [float] NOT NULL,
	[Feedback] [nvarchar](200) NULL,
	[Email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountC] ASC,
	[HomeStayId] ASC,
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CateId] [nchar](10) NOT NULL,
	[CateName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[AccountC] [varchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[Specific] [nvarchar](50) NULL,
	[Ward] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerImage]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerImage](
	[AccountC] [varchar](50) NOT NULL,
	[Img_Avatar] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[AccountC] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extensions]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extensions](
	[HomeStayId] [nchar](10) NOT NULL,
	[ListExtensions] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeStayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeStayAddressses]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeStayAddressses](
	[HomeStayId] [nchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[Specific] [nvarchar](50) NULL,
	[Ward] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeStayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeStayDetails]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeStayDetails](
	[HomeStayId] [nchar](10) NOT NULL,
	[BedRoomQty] [int] NOT NULL,
	[BathRoomQty] [int] NOT NULL,
	[LivingRoomQty] [int] NOT NULL,
	[KitchenQty] [int] NOT NULL,
	[BedQty] [int] NOT NULL,
	[CheckIn] [time](7) NOT NULL,
	[CheckOut] [time](7) NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IncurredCost] [float] NOT NULL,
	[Video] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeStayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeStayHistories]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeStayHistories](
	[HomeStayId] [nchar](10) NOT NULL,
	[FirstName_Cus] [nvarchar](50) NOT NULL,
	[LastName_Cus] [nvarchar](50) NOT NULL,
	[Phone_Cus] [nvarchar](50) NOT NULL,
	[Email_Cus] [nvarchar](50) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[BookingTime] [int] NOT NULL,
	[Price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeStays]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeStays](
	[HomeStayId] [nchar](10) NOT NULL,
	[HomeStayName] [nvarchar](50) NOT NULL,
	[CateId] [nchar](10) NOT NULL,
	[AccountS] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeStayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [nchar](10) NOT NULL,
	[ImageUrl] [nvarchar](50) NOT NULL,
	[HomeStayId] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marketing]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marketing](
	[AccountM] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketingImage]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketingImage](
	[AccountM] [varchar](50) NOT NULL,
	[Img_Avatar] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messenger]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messenger](
	[MessengerId] [nchar](10) NOT NULL,
	[Caption] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[MessRole] [bit] NOT NULL,
	[AccountS] [varchar](50) NOT NULL,
	[AccountC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessengerCA]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessengerCA](
	[MessengerCAId] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[MessRole] [bit] NOT NULL,
	[AccountC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessengerCAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [nchar](10) NOT NULL,
	[Cus_Name] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Star] [float] NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[HomeStayId] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[HomeStayId] [nchar](10) NOT NULL,
	[ListRules] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeStayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderID] [varchar](10) NOT NULL,
	[SliderName] [nvarchar](50) NOT NULL,
	[SliderImage] [nvarchar](50) NOT NULL,
	[AccountM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierAddresses]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierAddresses](
	[AccountS] [varchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[Specific] [nvarchar](50) NULL,
	[Ward] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierImage]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierImage](
	[AccountS] [varchar](50) NOT NULL,
	[Img_ID_front] [nvarchar](50) NOT NULL,
	[Img_ID_back] [nvarchar](50) NOT NULL,
	[Img_Avatar] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[AccountS] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeId] [int] NOT NULL,
	[TypeName] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [nchar](10) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AccountM] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherCustomer]    Script Date: 7/28/2022 5:32:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherCustomer](
	[VoucherId] [nchar](10) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AccountC] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([Account], [Password], [TypeId]) VALUES (N'123456cainha', N'123456', 3)
INSERT [dbo].[Accounts] ([Account], [Password], [TypeId]) VALUES (N'1danvit', N'123456', 3)
INSERT [dbo].[Accounts] ([Account], [Password], [TypeId]) VALUES (N'2convitcon', N'123', 3)
GO
INSERT [dbo].[Admins] ([AccountA], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'hamhochoi21', N'Ngoc', N'Pham', 23, N'ngocpham21@gmail.com', N'8458563251')
INSERT [dbo].[Admins] ([AccountA], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'khongkk', N'Giang', N'Le', 24, N'giangle@gmail.com', N'8458888999')
INSERT [dbo].[Admins] ([AccountA], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'luboo4', N'Phong', N'Le', 22, N'phongle@gmail.com', N'8458558956')
GO
INSERT [dbo].[BlogDetails] ([BlogDetailId], [Image], [News], [BlogId]) VALUES (N'BLD0001   ', N'blog1.jpg', N'How awesome is Bosnia-Herzegovina – there are epic waterfalls, stunning clear rivers and charming little towns. 
When considering a country in eastern Europe for a road trip, Bosnia & Herzegovina should be one of the first countries on your mind. This idyllic country often gets overshadowed by its neighbour, Croatia. Don’t get me wrong, Croatia is a magnificent country in itself but Bosnia & Herzegovina is just something else.', N'BL0001    ')
GO
INSERT [dbo].[Blogs] ([BlogId], [Image], [Title], [AccountM]) VALUES (N'BL0001    ', N'bld1-1.png', N'Bosnia Road Trip: Itinerary for Bosnia-Herzegovina [10 Days] in the Balkans', N'nuchuahukhong')
INSERT [dbo].[Blogs] ([BlogId], [Image], [Title], [AccountM]) VALUES (N'BL0002    ', N'bld2-1.png', N'DANANG TO HUE – BEST WAY TO TRAVEL TO HUE FROM DA NANG', N'thosanbongdem')
INSERT [dbo].[Blogs] ([BlogId], [Image], [Title], [AccountM]) VALUES (N'BL0003    ', N'bld3-1.png', N'EXPERIENCE “DEATH” SWING IN VIETNAM', N'chuatebongdem')
GO
INSERT [dbo].[Booking] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Status], [Email]) VALUES (N'benbohanhphuc', N'HS0001    ', 1, N'Thinh DZ', N'Quang', N'845322064', CAST(N'2022-07-21T00:00:00.000' AS DateTime), 50, 10, 900000, 0, N'phamsangvd1@gmail.com')
INSERT [dbo].[Booking] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Status], [Email]) VALUES (N'benbohanhphuc', N'HS0002    ', 1, N'Phuong', N'Thanh', N'8453228064', CAST(N'2022-08-18T08:30:00.000' AS DateTime), 5, 5, 890000, 1, N'phuongthanh21@gmail.com')
INSERT [dbo].[Booking] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Status], [Email]) VALUES (N'binhminhdaysong', N'HS0001    ', 2, N'long', N'a', N'845785927', CAST(N'2022-07-21T00:00:00.000' AS DateTime), 1, 1, 650000, 0, N'dainguyenm@gmail.com')
GO
INSERT [dbo].[BookingHistories] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Star], [Feedback], [Email]) VALUES (N'benbohanhphuc', N'HS0004    ', 1, N'Phuong', N'Thanh', N'v8453228064', CAST(N'2022-06-01T08:30:00.000' AS DateTime), 5, 2, 1299000, 4, N'The rooms were clean, very comfortable, and the staff was amazing. They went over and beyond to help make our stay enjoyable. I highly recommend this hotel for anyone visiting downtown', N'phuongthanh21@gmail.com')
INSERT [dbo].[BookingHistories] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Star], [Feedback], [Email]) VALUES (N'binhminhdaysong', N'HS0059    ', 6, N'Dai', N'Nguyen', N'v8450785927', CAST(N'2022-06-07T07:40:00.000' AS DateTime), 2, 7, 600000, 5, N'The best hotel I’ve ever been privileged enough to stay at. Gorgeous building, and it only gets more breathtaking when you walk in.', N'dainguyenm@gmail.com')
INSERT [dbo].[BookingHistories] ([AccountC], [HomeStayId], [OrderNumber], [FirstName], [LastName], [Phone], [OrderTime], [BookingTime], [VisitorNumber], [Price], [Star], [Feedback], [Email]) VALUES (N'binhminhdaysong', N'HS0088    ', 14, N'Dai', N'Nguyen', N'v8450785927', CAST(N'2022-06-27T08:37:00.000' AS DateTime), 9, 4, 1380000, 5, N'I had booked this hotel based on the positive reviews I had read online. I must say I was not disappointed at all.', N'dainguyenm@gmail.com')
GO
INSERT [dbo].[Categories] ([CateId], [CateName]) VALUES (N'CATID001  ', N'Biet Thu')
INSERT [dbo].[Categories] ([CateId], [CateName]) VALUES (N'CATID002  ', N'Nha Rieng')
INSERT [dbo].[Categories] ([CateId], [CateName]) VALUES (N'CATID003  ', N'Can Ho Chung Cu')
GO
INSERT [dbo].[CustomerAddresses] ([AccountC], [City], [District], [Specific], [Ward]) VALUES (N'benbohanhphuc', N'Binh Dinh', N'An Nhon', N'558 Nguyen Van Cu', N'Dap Da')
INSERT [dbo].[CustomerAddresses] ([AccountC], [City], [District], [Specific], [Ward]) VALUES (N'binhminhdaysong', N'Hue', N'Nam Dong', N'91 Nguyen Truong Trinh', N'Huong Giang')
INSERT [dbo].[CustomerAddresses] ([AccountC], [City], [District], [Specific], [Ward]) VALUES (N'caoboimiennui', N'Da Nang', N'Cam Le', N'81 Dinh Tien Hoang', N'Hoa An')
GO
INSERT [dbo].[CustomerImage] ([AccountC], [Img_Avatar]) VALUES (N'benbohanhphuc', N'default_person.jpg')
INSERT [dbo].[CustomerImage] ([AccountC], [Img_Avatar]) VALUES (N'binhminhdaysong', N'meo-khoc-nhu-nguoi-12-09-40-54.jpg')
INSERT [dbo].[CustomerImage] ([AccountC], [Img_Avatar]) VALUES (N'caoboimiennui', N'default_person.jpg')
GO
INSERT [dbo].[Customers] ([AccountC], [FirstName], [LastName], [Email], [Phone], [Status]) VALUES (N'benbohanhphuc', N'Phuong', N'    Thanh', N'thinhxom1109@gmail.com', N'845322064', 1)
INSERT [dbo].[Customers] ([AccountC], [FirstName], [LastName], [Email], [Phone], [Status]) VALUES (N'binhminhdaysong', N'Dai', N'      Nguyen', N'dainguyenm@gmail.com', N'845785927', 1)
INSERT [dbo].[Customers] ([AccountC], [FirstName], [LastName], [Email], [Phone], [Status]) VALUES (N'caoboimiennui', N'Minh', N'Nguyen', N'nguyenminh231@gmail.com', N'847515205', 0)
GO
INSERT [dbo].[Extensions] ([HomeStayId], [ListExtensions]) VALUES (N'HS0001    ', N'All basic Extension, Free bicycles, Free breakfast, Golf course')
INSERT [dbo].[Extensions] ([HomeStayId], [ListExtensions]) VALUES (N'HS0002    ', N'All basic Extension, Health Care & Beauty, Highland Coffee')
INSERT [dbo].[Extensions] ([HomeStayId], [ListExtensions]) VALUES (N'HS0003    ', N'All basic Extension, Indoor Swimming pool, Billard, BQQ Grill')
GO
INSERT [dbo].[HomeStayAddressses] ([HomeStayId], [City], [District], [Specific], [Ward]) VALUES (N'HS0001    ', N'Ha Noi', N'Long Bien', N'558 Nguyen Van Cu', N'Gia Thuy')
INSERT [dbo].[HomeStayAddressses] ([HomeStayId], [City], [District], [Specific], [Ward]) VALUES (N'HS0002    ', N'Ha Noi', N'Hoan Kiem', N'2/14 Hang Bun', N'Phuc Tan')
INSERT [dbo].[HomeStayAddressses] ([HomeStayId], [City], [District], [Specific], [Ward]) VALUES (N'HS0003    ', N'Quang Ninh', N'Ha Long', N'81 Dinh Tien Hoang', N'Ha Khanh')
GO
INSERT [dbo].[HomeStayDetails] ([HomeStayId], [BedRoomQty], [BathRoomQty], [LivingRoomQty], [KitchenQty], [BedQty], [CheckIn], [CheckOut], [Price], [Description], [IncurredCost], [Video]) VALUES (N'HS0001    ', 1, 2, 3, 4, 5, CAST(N'11:30:00' AS Time), CAST(N'11:30:00' AS Time), 30000, N'jdksaldk', 0, N'dsaidjsaoid')
GO
INSERT [dbo].[HomeStays] ([HomeStayId], [HomeStayName], [CateId], [AccountS], [Status]) VALUES (N'HS0001    ', N'Mahali Mzuri', N'CATID001  ', N'1danvit', 0)
INSERT [dbo].[HomeStays] ([HomeStayId], [HomeStayName], [CateId], [AccountS], [Status]) VALUES (N'HS0002    ', N'Nayara Tented Camp', N'CATID004  ', N'2convitcon', 0)
INSERT [dbo].[HomeStays] ([HomeStayId], [HomeStayName], [CateId], [AccountS], [Status]) VALUES (N'HS0003    ', N'Opposite House', N'CATID003  ', N'motconngan', 1)
GO
INSERT [dbo].[Images] ([ImageId], [ImageUrl], [HomeStayId]) VALUES (N'IM00001   ', N'h1-1.jpg', N'HS0001    ')
INSERT [dbo].[Images] ([ImageId], [ImageUrl], [HomeStayId]) VALUES (N'IM00002   ', N'h1-2.jpg', N'HS0001    ')
INSERT [dbo].[Images] ([ImageId], [ImageUrl], [HomeStayId]) VALUES (N'IM00003   ', N'h1-3.jpg', N'HS0001    ')
GO
INSERT [dbo].[Marketing] ([AccountM], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'bautroikhongem', N'Thanh Lam', N'Le', 23, N'lamthanhle@gmail.com', N'8434785784')
INSERT [dbo].[Marketing] ([AccountM], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'chuatebongdem', N'Minh Duc', N'Le', 22, N'ducminhle@gmail.com', N'8434585565')
INSERT [dbo].[Marketing] ([AccountM], [FirstName], [LastName], [Age], [Email], [Phone]) VALUES (N'daituongnoxus', N'Minh Tam', N'Nguyen', 22, N'tamminhnguyen122@gmail.com', N'8434563526')
GO
INSERT [dbo].[MarketingImage] ([AccountM], [Img_Avatar]) VALUES (N'bautroikhongem', N'meo-khoc-nhu-nguoi-12-09-40-54.jpg')
INSERT [dbo].[MarketingImage] ([AccountM], [Img_Avatar]) VALUES (N'chuatebongdem', N'AvatarDefault.jpg')
INSERT [dbo].[MarketingImage] ([AccountM], [Img_Avatar]) VALUES (N'daituongnoxus', N'AvatarDefault.jpg')
GO
SET IDENTITY_INSERT [dbo].[MessengerCA] ON 

INSERT [dbo].[MessengerCA] ([MessengerCAId], [Caption], [Description], [MessRole], [AccountC]) VALUES (1, N'haha', N'hihhihaha', 1, N'binhminhdaysong')
INSERT [dbo].[MessengerCA] ([MessengerCAId], [Caption], [Description], [MessRole], [AccountC]) VALUES (2, N'booking homestay', N'how to booking a homestay', 1, N'binhminhdaysong')
INSERT [dbo].[MessengerCA] ([MessengerCAId], [Caption], [Description], [MessRole], [AccountC]) VALUES (3, N'supplier', N'how can i become supplier', 1, N'benbohanhphuc')
SET IDENTITY_INSERT [dbo].[MessengerCA] OFF
GO
INSERT [dbo].[Reviews] ([ReviewId], [Cus_Name], [Date], [Star], [Feedback], [HomeStayId]) VALUES (N'RVID001   ', N'Phuong', CAST(N'2015-07-21T00:02:00.000' AS DateTime), 1, N'kha te, phong ngu va phong tam chat luong kem', N'HS0001    ')
INSERT [dbo].[Reviews] ([ReviewId], [Cus_Name], [Date], [Star], [Feedback], [HomeStayId]) VALUES (N'RVID002   ', N'Thuy', CAST(N'2015-07-20T01:02:00.000' AS DateTime), 1, N'chat luong kem', N'HS0001    ')
INSERT [dbo].[Reviews] ([ReviewId], [Cus_Name], [Date], [Star], [Feedback], [HomeStayId]) VALUES (N'RVID003   ', N'Minh', CAST(N'2015-07-17T01:14:00.000' AS DateTime), 1, N'phong ngu va phong tam chat luong kem', N'HS0001    ')
GO
INSERT [dbo].[Rules] ([HomeStayId], [ListRules]) VALUES (N'HS0001    ', N'Hotel rooms are rented for hotel days.')
INSERT [dbo].[Rules] ([HomeStayId], [ListRules]) VALUES (N'HS0002    ', N'The hotel reserves the right to pre-authorize your credit card upon check-in or collect a fee for the entire stay in the form of a cash deposit.')
INSERT [dbo].[Rules] ([HomeStayId], [ListRules]) VALUES (N'HS0003    ', N'In case the guest fails to appear in the hotel by 6 p.m. of the accommodation day despite making a reservation, the fee for the room shall be charged by the hotel.')
GO
INSERT [dbo].[Slider] ([SliderID], [SliderName], [SliderImage], [AccountM]) VALUES (N'S01', N'HaNoi', N'HN.png', N'bautroikhongem')
INSERT [dbo].[Slider] ([SliderID], [SliderName], [SliderImage], [AccountM]) VALUES (N'S02', N'Da Nang', N'DN.png', N'bautroikhongem')
INSERT [dbo].[Slider] ([SliderID], [SliderName], [SliderImage], [AccountM]) VALUES (N'S03', N'Ho Chi Minh', N'HCM.png', N'bautroikhongem')
GO
INSERT [dbo].[SupplierAddresses] ([AccountS], [City], [District], [Specific], [Ward]) VALUES (N'123456cainha', N'Ho Chi Minh', N'Binh Thach', N'96 Le Van Duyet', N'Phuong 1')
INSERT [dbo].[SupplierAddresses] ([AccountS], [City], [District], [Specific], [Ward]) VALUES (N'1danvit', N'Ha Noi', N'Hoang Mai', N'So 22, ngo 68 ', N'Dai Tu')
INSERT [dbo].[SupplierAddresses] ([AccountS], [City], [District], [Specific], [Ward]) VALUES (N'2convitcon', N'Ha Noi', N'Thach Hoa', N'Thach That', N'Thon 6')
GO
INSERT [dbo].[SupplierImage] ([AccountS], [Img_ID_front], [Img_ID_back], [Img_Avatar]) VALUES (N'123456cainha', N'id6-f.png', N'id4-b.png', N'AvatarDefault.jpg')
INSERT [dbo].[SupplierImage] ([AccountS], [Img_ID_front], [Img_ID_back], [Img_Avatar]) VALUES (N'1danvit', N'id7-f.png', N'id4-b.png', N'AvatarDefault.jpg')
INSERT [dbo].[SupplierImage] ([AccountS], [Img_ID_front], [Img_ID_back], [Img_Avatar]) VALUES (N'2convitcon', N'ID1-f.png', N'ID1-b.png', N'Screenshot 2022-07-12 144752.png')
GO
INSERT [dbo].[Suppliers] ([AccountS], [FirstName], [LastName], [Fax], [Email], [Phone], [Status]) VALUES (N'123456cainha', N'nhat', N'nguyen', N'8415485307', N'nhatnguyen@gmail.com', N'8496231658', 1)
INSERT [dbo].[Suppliers] ([AccountS], [FirstName], [LastName], [Fax], [Email], [Phone], [Status]) VALUES (N'1danvit', N'phuong', N'nguyen', N'8415485301', N'phuongnguyen@gmail.com', N'8453258965', 1)
INSERT [dbo].[Suppliers] ([AccountS], [FirstName], [LastName], [Fax], [Email], [Phone], [Status]) VALUES (N'2convitcon', N'Quang Thinh ', N'Dep Trai', N'0123456789', N'phongnguyen@gmail.com', N'0859994148', 1)
GO
INSERT [dbo].[Types] ([TypeId], [TypeName]) VALUES (1, N'Admin')
INSERT [dbo].[Types] ([TypeId], [TypeName]) VALUES (2, N'MKT')
INSERT [dbo].[Types] ([TypeId], [TypeName]) VALUES (3, N'Suppliers')
GO
INSERT [dbo].[VoucherCustomer] ([VoucherId], [Title], [Description], [Image], [Discount], [Quantity], [AccountC]) VALUES (N'VC002     ', NULL, NULL, NULL, 20, 50, N'danbolangman')
INSERT [dbo].[VoucherCustomer] ([VoucherId], [Title], [Description], [Image], [Discount], [Quantity], [AccountC]) VALUES (N'VC003     ', NULL, NULL, NULL, 15, 50, N'caoboimiennui')
INSERT [dbo].[VoucherCustomer] ([VoucherId], [Title], [Description], [Image], [Discount], [Quantity], [AccountC]) VALUES (N'VC004     ', NULL, NULL, NULL, 25, 50, N'satthudongbang')
GO
ALTER TABLE [dbo].[HomeStays] ADD  DEFAULT ((2)) FOR [Status]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[Types] ([TypeId])
GO
ALTER TABLE [dbo].[AdminImage]  WITH CHECK ADD FOREIGN KEY([AccountA])
REFERENCES [dbo].[Admins] ([AccountA])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([AccountA])
REFERENCES [dbo].[Accounts] ([Account])
GO
ALTER TABLE [dbo].[BlogDetails]  WITH CHECK ADD FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blogs] ([BlogId])
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD FOREIGN KEY([AccountM])
REFERENCES [dbo].[Marketing] ([AccountM])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[BookingHistories]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[BookingHistories]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[CustomerImage]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Accounts] ([Account])
GO
ALTER TABLE [dbo].[Extensions]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[HomeStayAddressses]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[HomeStayDetails]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[HomeStayHistories]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[HomeStays]  WITH CHECK ADD FOREIGN KEY([AccountS])
REFERENCES [dbo].[Suppliers] ([AccountS])
GO
ALTER TABLE [dbo].[HomeStays]  WITH CHECK ADD FOREIGN KEY([CateId])
REFERENCES [dbo].[Categories] ([CateId])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[Marketing]  WITH CHECK ADD FOREIGN KEY([AccountM])
REFERENCES [dbo].[Accounts] ([Account])
GO
ALTER TABLE [dbo].[MarketingImage]  WITH CHECK ADD FOREIGN KEY([AccountM])
REFERENCES [dbo].[Marketing] ([AccountM])
GO
ALTER TABLE [dbo].[Messenger]  WITH CHECK ADD FOREIGN KEY([AccountS])
REFERENCES [dbo].[Suppliers] ([AccountS])
GO
ALTER TABLE [dbo].[Messenger]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[MessengerCA]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[Rules]  WITH CHECK ADD FOREIGN KEY([HomeStayId])
REFERENCES [dbo].[HomeStays] ([HomeStayId])
GO
ALTER TABLE [dbo].[Slider]  WITH CHECK ADD FOREIGN KEY([AccountM])
REFERENCES [dbo].[Marketing] ([AccountM])
GO
ALTER TABLE [dbo].[SupplierAddresses]  WITH CHECK ADD FOREIGN KEY([AccountS])
REFERENCES [dbo].[Suppliers] ([AccountS])
GO
ALTER TABLE [dbo].[SupplierImage]  WITH CHECK ADD FOREIGN KEY([AccountS])
REFERENCES [dbo].[Suppliers] ([AccountS])
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD FOREIGN KEY([AccountS])
REFERENCES [dbo].[Accounts] ([Account])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD FOREIGN KEY([AccountM])
REFERENCES [dbo].[Marketing] ([AccountM])
GO
ALTER TABLE [dbo].[VoucherCustomer]  WITH CHECK ADD FOREIGN KEY([AccountC])
REFERENCES [dbo].[Customers] ([AccountC])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([Status]>=(0) AND [Status]<=(2)))
GO
ALTER TABLE [dbo].[HomeStays]  WITH CHECK ADD CHECK  (([Status]>=(0) AND [Status]<=(2)))
GO
